{% extends 'base.html' %}{% block body %}
<section id="hero" class="d-flex align-items-center">
	<div
		class="container position-relative"
		data-aos="fade-up"
		data-aos-delay="100"
	>
		<div class="row justify-content-center">
			<div class="col-xl-7 col-lg-9 text-center">
				<h1>Future Scope</h1>
				<h2>Advisors With Assistance</h2>
			</div>
		</div>
		<div class="text-center">
			<a href="#about" class="btn-get-started scrollto">Get Started</a>
		</div>
		<div class="row icon-boxes">
			<div
				class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
				data-aos="zoom-in"
				data-aos-delay="200"
			>
				<div class="icon-box">
					<div class="icon"><i class="ri-stack-line"></i></div>
					<h4 class="title"><a href="">Education encompasses</a></h4>
					<p class="description">
						Education encompasses elements we often think of in the context of
						learning and development. These elements generally have a defined
						beginning and end, and can be tracked.
					</p>
				</div>
			</div>
			<div
				class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
				data-aos="zoom-in"
				data-aos-delay="300"
			>
				<div class="icon-box">
					<div class="icon"><i class="ri-palette-line"></i></div>
					<h4 class="title"><a href="">Experience</a></h4>
					<p class="description">
						Experience includes elements that generally occur while employees
						are in the workplace, and which may include stretch assignments, job
						rotations, and special projects.
					</p>
				</div>
			</div>
			<div
				class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
				data-aos="zoom-in"
				data-aos-delay="400"
			>
				<div class="icon-box">
					<div class="icon"><i class="ri-command-line"></i></div>
					<h4 class="title"><a href="">Exposure</a></h4>
					<p class="description">
						Exposure comprises learning elements that involve interaction and
						relationships. It helps employees to develop by building connections
						with other professionals and thought leaders.
					</p>
				</div>
			</div>
			<div
				class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
				data-aos="zoom-in"
				data-aos-delay="500"
			>
				<div class="icon-box">
					<div class="icon"><i class="ri-fingerprint-line"></i></div>
					<h4 class="title"><a href="">Environment</a></h4>
					<p class="description">
						Environment covers the various tools, systems, and other
						infrastructure that employees use on the job to learn or support
						them in their work.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container" data-aos="fade-up">
		<div class="section-title">
			<h2>About Us</h2>
			<p>
				Are you looking for some Career coach ?
			</p>
		</div>
		<div class="row content">
			<div class="col-lg-6">
				<p>
					We at FUTURE SCOPE helps young budding mind that are ready to explore the world to get the best they can achieve in their life.
				</p>
				<ul>
					<li>
						<i class="ri-check-double-line"></i> We make sure that you are advised in the best direction
					</li>
					<li>
						<i class="ri-check-double-line"></i> Not on the bases of your marks but also vocational subjects
					</li>
					<li>
						<i class="ri-check-double-line"></i> That some of you might took up or hobbies that can be converted into profession
					</li>
				</ul>
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0">
				<p>
					Our main is to help innovative mind to stop wasting time and consulting various career coaches and just start taking steps on the success road
				</p>
				<a href="#" class="btn-learn-more">Learn More</a>
			</div>
		</div>
	</div>
</section>
<section id="cta" class="cta">
	<div class="container" data-aos="zoom-in">
		<div class="text-center">
			<h3>Predict your Career</h3>
			<p>
				Are you looking for some Career coach ?
If choosing the correct career is your dream, making it simple is ours. Share your dream aspirations and we will make it happen for you.
			</p>
			<a class="cta-btn" href="{% url 'main:predict' %}">Predict</a>
		</div>
	</div>
</section>
<section id="team" class="team section-bg">
	<div class="container" data-aos="fade-up">
		<div class="section-title">
			<h2>Team</h2>
			<p>
				The people who dedicated their time at FUTURESCOPE share the vision and values of our community. We're driven by the idea that the best work is born from diligence, craftsmanship and fun.
			</p>
		</div>
		<div class="row">
			<div
				class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto"
				data-aos="fade-up"
				data-aos-delay="100"
			>
				<div class="member">
					<div class="member-img">
						<img src="static/img/team/team-1.png" class="img-fluid" alt="" />
						<div class="social">
							<a href=""><i class="bi bi-twitter"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Shalabh Kamboj</h4>
						<span>Web Developer</span>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto"
				data-aos="fade-up"
				data-aos-delay="200"
			>
				<div class="member">
					<div class="member-img">
						<img src="static/img/team/team-2.png" class="img-fluid" alt="" />
						<div class="social">
							<a href=""><i class="bi bi-twitter"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Tanisha Srivastava</h4>
						<span>Data Scientist</span>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-md-6 d-flex align-items-stretch mx-auto"
				data-aos="fade-up"
				data-aos-delay="300"
			>
				<div class="member">
					<div class="member-img">
						<img src="static/img/team/team-3.png" class="img-fluid" alt="" />
						<div class="social">
							<a href=""><i class="bi bi-twitter"></i></a>
							<a href=""><i class="bi bi-facebook"></i></a>
							<a href=""><i class="bi bi-instagram"></i></a>
							<a href=""><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
					<div class="member-info">
						<h4>Utkarsh Kumar</h4>
						<span>Web Developer</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">
		<div class="section-title">
			<h2>Contact</h2>
			<p>
				We're here to help you level up. We're just one click away to help you take your Problems and find innovative idea to solve them  Fill in the form to share more details about your problem. Or your favorite gum flavor. Either way, we'd love to talk.
			</p>
		</div>
		<div class="row mt-5">
			<div class="col-lg-4">
				<div class="info">
					<div class="address">
						<i class="bi bi-geo-alt"></i>
						<h4>Location:</h4>
						<p>India</p>
					</div>
					<div class="email">
						<i class="bi bi-envelope"></i>
						<h4>Email:</h4>
						<p>contact@test.com</p>
					</div>
					<div class="phone">
						<i class="bi bi-phone"></i>
						<h4>Call:</h4>
						<p>+91 00000 00000</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8 mt-5 mt-lg-0">
				<form action="" method="post" role="form" class="php-email-form">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6 form-group">
							<input
								type="text"
								name="name"
								class="form-control"
								id="name"
								placeholder="Your Name"
								required
							/>
						</div>
						<div class="col-md-6 form-group mt-3 mt-md-0">
							<input
								type="email"
								class="form-control"
								name="email"
								id="email"
								placeholder="Your Email"
								required
							/>
						</div>
					</div>
					<div class="form-group mt-3">
						<input
							type="text"
							class="form-control"
							name="subject"
							id="subject"
							placeholder="Subject"
							required
						/>
					</div>
					<div class="form-group mt-3">
						<textarea
							class="form-control"
							name="message"
							rows="5"
							placeholder="Message"
							required
						></textarea>
					</div>
					<div class="my-3">
						{% if contact %}
						<div class="sent-message">
							Your message has been sent. Thank you!
						</div>
						{% endif %}
					</div>
					<div class="text-center">
						<button type="submit">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock body %}
